@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Kalam&family=Oxygen+Mono&display=swap');

:root {
  --foreground-rgb: 52, 62, 41;
  --background-start-rgb: 122, 143, 100;
  --background-end-rgb: 52, 62, 41;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 52, 62, 41;
    --background-start-rgb: 122, 143, 100;
    --background-end-rgb: 52, 62, 41;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.header-container {
  display: flex;
  justify-content: space-evenly; 
  align-items: center; 
  width: 100%;            /* Full width of the parent container */
}

.logo {
  border: 2px solid #221b16;
  background-color: #44362c;
  margin-top: 2%;
  width: 20%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 75px;
}

.logo-text {
  text-align: center;
  color: #EBE4D6;
  font-size: 3vmin;
  font-family: 'Oxygen Mono', monospace;
  width: 100%;
}

.video-container {
  display: grid;
  grid-template-columns: 1fr; /* Single column */
  grid-template-rows: 1fr; /* Single row */
  justify-items: center; /* Center content horizontally */
  align-items: baseline; /* Align content vertically */
  width: 70%;
  /* height: 100%; */
  margin: 7% auto;
  }

.video-responsive {
  display: grid;
  width: 90%; /* Set a minimum width */
  padding-bottom: 56.25%; /* Aspect ratio (16:9) */
  position: relative;
  height: 0;
  overflow: hidden;
  height: 100%;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
}

.clickable-buttons {
  display: flex;
  border: 2px solid #44362c;
  background-color: #EBE4D6;
  margin-top: 2%;
  padding: 0.5% 1.5%;
  border-radius: 75px;
  cursor: pointer;
  align-items: center;
}

.header-font {  
  font-size: 3vmin;
  font-family: 'Oxygen Mono', monospace;
  color: #44362c;
  text-align: center;
}

.margin-horizontal {
  margin-left: 5%;
  margin-right: 5%;
}

.margin-right {
  margin-right: 4%;
}

.margin-left {
  margin-left: 4%;
}

.margin-vertical {
  margin-top: 4%;
  margin-bottom: 4%;
}

.vines {
  background-image: url(../../public/vines-hanging.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.footer-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer-buttons {
  margin-right: 2.5vw;
  margin-bottom: 2.5vh;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
}

.section-container {
  margin: auto;
}

.label-text {
  display: grid;
  margin: 5% auto;
  justify-content: center;
  width: 30%;
  border-radius: 25px;
  color: #44362c;
  background-color: #EBE4D6;
  font-size: 3vmin;
  font-family: 'Oxygen Mono', monospace;
  font-weight: 400;
}

.bio-text {
  text-shadow: 1px 1px #44362c;
  text-align: center;
  margin-top: 5%;
  line-height: 2;
  color: #EBE4D6;
  font-size: 3vmin;
  font-family: 'DM Serif Display', serif;
}

.spacer {
  margin-bottom: 4%;
}

.music-responsive {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Double column */
  grid-template-rows: 1fr; /* Single row */
  justify-items: center; /* Center content horizontally */
  align-items: baseline; /* Align content vertically */
  width: 70%;
  margin: 7% auto;
}

.spotify-responsive {
  max-width: 80vw;
  height: 50vh;
  justify-content: center;
}

.spotify-responsive iframe {
  max-width: 100%;
}

.apple-responsive {
  max-width: 80vw;
  height: 50vh;
  justify-content: center;
}

.apple-responsive iframe {
  max-width: 100%;
}

.contact-form {
  display: flex;
  margin-top: 7%;
  width: 45%;
  margin-bottom: 25%;
  justify-content: center;
  align-content: center;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
}

.send-button {
  align-items: center;
  align-self: center;
  margin-bottom: 2%;
}

.contact-text {
  text-shadow: 1px 1px #44362c;
  font-family: 'Kalam', cursive;
  color: #EBE4D6;
  font-size: xxx-large;
  text-align: center;
  align-content: center;
  white-space: nowrap;
}

.text-box-height {
  height: 15%;
}

.message-box {
  height: 20%;
}
